<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HackWith</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.9.0/bootstrap-social.css">
    <%= stylesheet_link_tag "style" %>
  </head>
  <body>
    <div class="nav-container">
      <nav class="top-bar">
        <div class="logo">
          <a href="#"><span class="first">Hack</span><span class="second">With</span></a>
        </div>
        <a class="login-button" href="">ログイン</a>
      </nav>
    </div>

    <div class="contents">

      <div class="top-image">
        <div class="concept">
          <!-- 大見出し -->
          <h1 class="title">スタートアップとハッカソンをしよう</h1>
          <!-- 中見出し -->
          <h2 class="description">HackWithは、スタートアップと一緒に<br/>
          ハッカソンでプログダクトを作ることが出来るサービスです</h2>
        </div>

        <div class="fb-login">
          <a class="btn btn-social btn-facebook">
            <i class="fa fa-facebook login-icon"></i>Facebookで無料登録
          </a>
        </div>

        <div class="brand-color"></div>
      </div>

      <div class="new-topics">
        <h3>今週のハッカソン</h3>

        <div class="hackathon-info">
          <div class="hackathon-detail">
            <p class="company-name font-gray2">
            クックパッド株式会社
            </p>
            <h3 class="hackathon-title">
              <a href="/hackathons/20978?list=1">クックパッドで松浦弥太郎が作る、新メディアで働きたいエンジニア募集！</a>
            </h3>
            <p class="hackathon-excerpt">
            現在、新メディアのプロトタイプを開発していますが、今回の募集では、これからの開発のメインエンジニアとなる方を募集します。ユーザーのことを考えながら、フロン...
            </p>
            <div class="hackathon-cover-wrapper">
              <div class="cover-image">
                <img class="lazy" data-original="https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=498,dh=200,da=s,ds=s,cw=498,ch=200,cc=FFFFFF)/assets/images/126085/original/13f5e83d-e687-4b16-9dc2-bce373ce660d.jpeg?1431070873" height="200" width="498" src="https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=498,dh=200,da=s,ds=s,cw=498,ch=200,cc=FFFFFF)/assets/images/126085/original/13f5e83d-e687-4b16-9dc2-bce373ce660d.jpeg?1431070873" style="display: inline;">
              </div>
              <ul class="hackathon-metas cf">
                <li class="published-date">
                <i class="icon-time"></i>
                2015/05/08
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="hackathon-info">
          <div class="hackathon-thumbnail">
            <img height="60" width="60" src="https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=60,dh=60,da=s,ds=s,cw=60,ch=60,cc=FFFFFF)/assets/images/24157/original/529cfb6b-e9e8-48c4-a1c8-e55054b4fd77.png?1403777405">
          </div>
          <div class="hackathon-detail">
            <p class="company-name font-gray2">
            クックパッド株式会社
            </p>
            <h3 class="hackathon-title">
              <a href="/hackathons/20978?list=1">クックパッドで松浦弥太郎が作る、新メディアで働きたいエンジニア募集！</a>
            </h3>
            <p class="hackathon-excerpt">
            現在、新メディアのプロトタイプを開発していますが、今回の募集では、これからの開発のメインエンジニアとなる方を募集します。ユーザーのことを考えながら、フロン...
            </p>
            <div class="hackathon-cover-wrapper">
              <div class="cover-image">
                <img class="lazy" data-original="https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=498,dh=200,da=s,ds=s,cw=498,ch=200,cc=FFFFFF)/assets/images/126085/original/13f5e83d-e687-4b16-9dc2-bce373ce660d.jpeg?1431070873" height="200" width="498" src="https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=498,dh=200,da=s,ds=s,cw=498,ch=200,cc=FFFFFF)/assets/images/126085/original/13f5e83d-e687-4b16-9dc2-bce373ce660d.jpeg?1431070873" style="display: inline;">
              </div>
              <ul class="hackathon-metas cf">
                <li class="published-date">
                <i class="icon-time"></i>
                2015/05/08
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="hackathon-info">
          <div class="hackathon-thumbnail">
            <img height="60" width="60" src="https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=60,dh=60,da=s,ds=s,cw=60,ch=60,cc=FFFFFF)/assets/images/24157/original/529cfb6b-e9e8-48c4-a1c8-e55054b4fd77.png?1403777405">
          </div>
          <div class="hackathon-detail">
            <p class="company-name font-gray2">
            クックパッド株式会社
            </p>
            <h3 class="hackathon-title">
              <a href="/hackathons/20978?list=1">クックパッドで松浦弥太郎が作る、新メディアで働きたいエンジニア募集！</a>
            </h3>
            <p class="hackathon-excerpt">
            現在、新メディアのプロトタイプを開発していますが、今回の募集では、これからの開発のメインエンジニアとなる方を募集します。ユーザーのことを考えながら、フロン...
            </p>
            <div class="hackathon-cover-wrapper">
              <div class="cover-image">
                <img class="lazy" data-original="https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=498,dh=200,da=s,ds=s,cw=498,ch=200,cc=FFFFFF)/assets/images/126085/original/13f5e83d-e687-4b16-9dc2-bce373ce660d.jpeg?1431070873" height="200" width="498" src="https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=498,dh=200,da=s,ds=s,cw=498,ch=200,cc=FFFFFF)/assets/images/126085/original/13f5e83d-e687-4b16-9dc2-bce373ce660d.jpeg?1431070873" style="display: inline;">
              </div>
              <ul class="hackathon-metas cf">
                <li class="published-date">
                <i class="icon-time"></i>
                2015/05/08
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="hackathon-info">
          <div class="hackathon-thumbnail">
            <img height="60" width="60" src="https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=60,dh=60,da=s,ds=s,cw=60,ch=60,cc=FFFFFF)/assets/images/24157/original/529cfb6b-e9e8-48c4-a1c8-e55054b4fd77.png?1403777405">
          </div>
          <div class="hackathon-detail">
            <p class="company-name font-gray2">
            クックパッド株式会社
            </p>
            <h3 class="hackathon-title">
              <a href="/hackathons/20978?list=1">クックパッドで松浦弥太郎が作る、新メディアで働きたいエンジニア募集！</a>
            </h3>
            <p class="hackathon-excerpt">
            現在、新メディアのプロトタイプを開発していますが、今回の募集では、これからの開発のメインエンジニアとなる方を募集します。ユーザーのことを考えながら、フロン...
            </p>
            <div class="hackathon-cover-wrapper">
              <div class="cover-image">
                <img class="lazy" data-original="https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=498,dh=200,da=s,ds=s,cw=498,ch=200,cc=FFFFFF)/assets/images/126085/original/13f5e83d-e687-4b16-9dc2-bce373ce660d.jpeg?1431070873" height="200" width="498" src="https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=498,dh=200,da=s,ds=s,cw=498,ch=200,cc=FFFFFF)/assets/images/126085/original/13f5e83d-e687-4b16-9dc2-bce373ce660d.jpeg?1431070873" style="display: inline;">
              </div>
              <ul class="hackathon-metas cf">
                <li class="published-date">
                <i class="icon-time"></i>
                2015/05/08
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="hackathon-info">
          <div class="hackathon-thumbnail">
            <img height="60" width="60" src="https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=60,dh=60,da=s,ds=s,cw=60,ch=60,cc=FFFFFF)/assets/images/24157/original/529cfb6b-e9e8-48c4-a1c8-e55054b4fd77.png?1403777405">
          </div>
          <div class="hackathon-detail">
            <p class="company-name font-gray2">
            クックパッド株式会社
            </p>
            <h3 class="hackathon-title">
              <a href="/hackathons/20978?list=1">クックパッドで松浦弥太郎が作る、新メディアで働きたいエンジニア募集！</a>
            </h3>
            <p class="hackathon-excerpt">
            現在、新メディアのプロトタイプを開発していますが、今回の募集では、これからの開発のメインエンジニアとなる方を募集します。ユーザーのことを考えながら、フロン...
            </p>
            <div class="hackathon-cover-wrapper">
              <div class="cover-image">
                <img class="lazy" data-original="https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=498,dh=200,da=s,ds=s,cw=498,ch=200,cc=FFFFFF)/assets/images/126085/original/13f5e83d-e687-4b16-9dc2-bce373ce660d.jpeg?1431070873" height="200" width="498" src="https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=498,dh=200,da=s,ds=s,cw=498,ch=200,cc=FFFFFF)/assets/images/126085/original/13f5e83d-e687-4b16-9dc2-bce373ce660d.jpeg?1431070873" style="display: inline;">
              </div>
              <ul class="hackathon-metas cf">
                <li class="published-date">
                <i class="icon-time"></i>
                2015/05/08
                </li>
              </ul>
            </div>
          </div>
        </div>

    </div>

    <!--フッター-->
    <div class="footer">
      <p>&copy masarufuruya</p>
    </div>
  </body>
</html>